@import url('framework7-icons.css');
@import url('roboto.css');
@import url('fontawesome.css');

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100vh;
    padding: 0 !important;
    overflow: hidden !important;
}

#app {
    height: 100vh;
    overflow: hidden !important;
    margin: 0;
}

:root {
    -f7-theme-light: #7a7a8b !important;
    --f7-theme-dark: #3c3c3c !important;
    --f7-navbar-bg-color: #0C1E30 !important;
    --f7-toggle-active-color: #5D7083 !important;
    --f7-toggle-handle-color: #5D7083 !important;
    --f7-navbar-text-color: #fff;
    --f7-safe-area-left: 0px;
    --f7-safe-area-right: 0px;
    --f7-safe-area-top: 0px;
    --f7-safe-area-bottom: 0px;
    --f7-safe-area-outer-left: 0px;
    --f7-safe-area-outer-right: 0px;
    --f7-device-pixel-ratio: 1;
    --f7-page-content-extra-padding-top: 1px !important;
    --f7-navbar-title-text-align: left;
    --f7-table-title-font-size: 14px !important;
    --f7-table-title-font-weight: 400 !important;
    --f7-sheet-height: 420px !important;
    --f7-toggle-handle-color: #fff;

    /* Color Pallete */
    /* Main primary */
    --color-primary-0: #2A3B4C !important;
    --color-primary-1: #5D7083 !important;
    --color-primary-2: #41556A !important;
    --color-primary-3: #1A2F43 !important;
    --color-primary-4: #0C1E30 !important;

    /* Main secondary 1 */
    --color-secondary-1-0: #753D3D !important;
    --color-secondary-1-1: #C98B8B !important;
    --color-secondary-1-2: #A35F5F !important;
    --color-secondary-1-3: #672323 !important;
    --color-secondary-1-4: #4A0E0E !important;

    /* Main secondary 2 */
    --color-secondary-2-0: #305E30 !important;
    --color-secondary-2-1: #70A170 !important;
    --color-secondary-2-2: #4C824C !important;
    --color-secondary-2-3: #1C521C !important;
    --color-secondary-2-4: #0B3B0B !important;

    /* Main complement color */
    --color-complement-0: #755E3D !important;
    --color-complement-1: #C9B08B !important;
    --color-complement-2: #A3875F !important;
    --color-complement-3: #674B23 !important;
    --color-complement-4: #4A310E !important;
}